#                        **PRACTICAL NO :  1**
# NAME : PRATIK PANDURANG KADAM                                    
# DIV : A
# ROLL NO : 33                                                  
# BATCH : A2

Section A: Fundamentals of Python

In [ ]:
# print “Hello Python”

print("Hello Python")

Hello Python

In [ ]:
# arithmetical operations addition and division

a = int(input("Enter no1 "))
b = int(input("Enter no2 "))
add = a + b
div = a/b
print("Addition",add)
print("Division",div)

Enter no1 20
Enter no2 58
Addition 78
Division 0.3448275862068966

In [ ]:
# find the area of a triangle

a = float(input("Enter value of base in cm "))
b = float(input("Enter value of height in cm "))
area = 0.5*a*b
print("area is",area)

Enter value of base in cm 12
Enter value of height in cm 6
area is 36.0

In [ ]:
# Swap Variables

a = 76
b = 80

a, b = b, a

print("Value of a = ", a)
print("Value of b = ", b)

Value of a =  80
Value of b =  76

In [ ]:
# generate a random number

import random
a = random.random()
print(a)

0.735255715340267

Section B:

In [ ]:
# convert kilometers to miles

km = float(input("Enter value in kilometers: "))
miles = km * 0.621371
print(km,"kilometers is equal to",miles,"miles")

Enter value in kilometers: 450
450.0 kilometers is equal to 279.61695000000003 miles

In [ ]:
# convert Celsius to Fahrenheit

cels = float(input("Enter value in celsius: "))
farehit = (cels * 1.8) + 32
print(cels,"degree celsius is equal to",farehit,"degree fahrenheit")

Enter value in celsius: 40
40.0 degree celsius is equal to 104.0 degree fahrenheit

In [ ]:
# Display Calendar

import calendar
yy = 2030
print(calendar.calendar(yy))

                                  2030

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [ ]:
# solve quadratic equation

import cmath
a = int(input("Enter value of a "))
b = int(input("Enter value of b "))
c = int(input("Enter value of c "))

d = (b**2) - (4*a*c)

sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter value of a 4
Enter value of b 6
Enter value of c 2
The solution are (-1+0j) and (-0.5+0j)

In [ ]:
# Swap variables without temp

x = 76
y = 34

x = x ^ y
y = x ^ y
x = x ^ y

print("Value of x= ",x)
print("Value of y= ",y)

Value of x=  34
Value of y=  76

Section C:

In [ ]:
# Check if a Number is Positive, Negative or Zero

num = int(input("Enter number "))
if num > 0:
  print("Your number is positive")
elif num == 0:
  print("Your number is zero")
else:
  print("Your number is negative")

Enter number 71
Your number is positive

In [ ]:
# Check if a Number is Odd or Even

num = int(input("Enter number "))
if num % 2 ==0:
  print("Your number is even")
else:
  print("Your number is odd")

Enter number 460
Your number is even

In [ ]:
# Check Leap Year

def CheckYear(year):
    import calendar
    return(calendar.isleap(year))

year = int(input("Enter value of year "))
if (CheckYear(year)):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter value of year 2024
Leap Year

In [ ]:
# Check Prime Number

num = int(input("Enter number "))

if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
            print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter number 11
11 is a prime number

In [1]:
# Prime Numbers in an Interval of 1-10000

lower = 1
upper = 1000

print("Prime numbers between",lower,"and",upper)
for num in range(lower, upper +1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num,end = " ")

Prime numbers between 1 and 1000
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

Section D:

In [ ]:
# Find the Factorial of a Number

num = int(input("Enter no "))
fact = 1
for i in range(1,num+1):
  fact = fact * i
print("Factorial of",num,"is",fact)

Enter no 7
Factorial of 7 is 5040

In [ ]:
# Display the multiplication Table

num = int(input("Enter the number which wants to print multiplication table "))
print("The multiplication table of:",num)
for i in range(1,11):
    print(num,"X",i,"=",num*i)

Enter the number which wants to print multiplication table 9
The multiplication table of: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [ ]:
# Print the Fibonacci sequence

n_terms = int(input("How many terms the user wants to print?"))

# First two terms
n_1 = 0
n_2 = 1
count = 0

if n_terms <= 0:
    print("Please enter a positive integer, the given number is not valid")

elif n_terms == 1:
    print("The Fibonacci sequence of the numbers up to",n_terms,": ")
    print(n_1)

else:
    print("THe fibonacci sequence of the numbers is:")
    while count < n_terms:
        print(n_1)
        nth = n_1 + n_2

        n_1 = n_2
        n_2 = nth
        count += 1

How many terms the user wants to print?6
THe fibonacci sequence of the numbers is:
0
1
1
2
3
5

In [ ]:
# Check Armstrong Number

n = int(input("Enter number "))
s = n
b = len(str(n))
sum1 = 0
while n != 0:
    r = n % 10
    sum1 = sum1+(r**b)
    n = n//10
if s == sum1:
    print("The given number is Armstrong number")
else:
    print("The given number is not an Armstrong number")

Enter number 923
The given number is not an Armstrong number

In [ ]:
# Armstrong Number in an Interval

lower = int(input("Enter lower range "))
upper = int(input("Enter upper range "))

for num in range(lower, upper + 1):
    
    sum = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum += digit ** 3
        temp //= 10
    if num == sum:
        print(num)

Enter lower range 1
Enter upper range 900
1
153
370
371
407

In [ ]:
# The Sum of Natural Numbers

num = int(input("Enter a number "))
b = num

if num < 0:
    print("Enter a positive number")
else:
    sum = 0
    while(num >0):
        sum += num
        num -= 1
    print("The sum of first",b,"natural numbers is",sum)

Enter a number 20
The sum of first 20 natural numbers is 210

Section E:

In [ ]:
# find sum of array

def _sum(arr):
  sum = 0
  for i in arr:
      sum = sum + i

  return(sum)
arr = [34, 23, 4, 21,2]

n = len(arr)
 
ans = _sum(arr)
print('Sum of the array is ', ans)

Sum of the array is  84

In [ ]:
# find largest element in an array

def largest(arr, n):
    arr.sort()
    return arr[n-1]
arr = [324, 888, 32, 45]
n = len(arr)
a = largest(arr, n)
print("Largest element in given array", a)

Largest element in given array 888

In [ ]:
# array rotation

arr = [1,2,3,4,5]
n = 3

print("Original array= ")
for i in range(0,len(arr)):
    print(arr[i])

for i in range(0,n):
    first = arr[0]
    for j in range(0,len(arr)-1):
        arr[j] = arr[j+1]
    arr[len(arr)-1] = first

print("Array after left rotation= ")
for i in range(0,len(arr)):
    print(arr[i])

Original array=
1
2
3
4
5
Array after left rotation=
4
5
1
2
3

In [ ]:
# Split the array and add the first part to the end

def splitArr(a, n, k):
    b = a[ :k]
    return (a[k::]+b[::])

arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
arr = splitArr(arr, n, position)
for i in range(0, n):
    print(arr[i], end = ' ')

5 6 52 36 12 10

In [ ]:
# check if given array is Monotonic

def Monotonic(A):
    return all(A[i] <= A[i + 1] for i in range(len(A)-1)) or all(A[i] >= A[i + 1] for i in range(len(A)-1))
            
A = [6, 5, 4, 4]
print(Monotonic(A))

True

Section F:

In [ ]:
def _sum(arr):
  sum = 0
  for i in arr:
      sum = sum + i

  return(sum)
lst = [2, 6, 7, 13, 5]
d = _sum(lst)
print(d)

33

In [ ]:
# Multiply all numbers in the list

lst1 = [2, 4, 5]
lst2 = [3, 1, 6]
from functools import reduce
import operator

print(reduce(operator.mul, lst1, 1))
print(reduce(operator.mul, lst2, 1))

40
18

In [ ]:
# find smallest number in a list

lst = [34, 9, 45, 2, 67]
print("Smallest number in a list is:",min(lst))

Smallest number in a list is: 2

In [ ]:
# find largest number in a list

lst = [34, 9, 45, 2, 67]
print("Largest number in a list is:",max(lst))

Largest number in a list is: 67

In [ ]:
# find second largest number in a list

list1 = [34, 9, 45, 2, 67]
new_list = set(list1)
new_list.remove(max(new_list))
print(max(new_list))

45

In [ ]:
# find N largest elements from a list

l = [1000,298,4325,200,-67,800,12]
n = int(input("How many largest elements you want "))
l.sort()
print(l[-n:])

How many largest elements you want 4
[298, 800, 1000, 4325]

In [ ]:
# even numbers in a list

lst = [34, 9, 45, 2, 67, 99, 12]
for i in lst:
    if i % 2 ==0:
        print(i, end=' ')

34 2 12

In [ ]:
# odd numbers in a List

lst = [34, 9, 45, 2, 67, 99, 12]
for i in lst:
    if i % 2 != 0:
        print(i, end=' ')

9 45 67 99

In [ ]:
# Remove empty List from List

lst = [8, 5, [], 21, [], [], 24, 1]
print("The original list is : " + str(lst))
while [] in lst:
    lst.remove([])
print("List after empty list removal : " + str(lst))

The original list is : [8, 5, [], 21, [], [], 24, 1]
List after empty list removal : [8, 5, 21, 24, 1]

In [ ]:
# Cloning or Copying a list

def cloning(lst1):
    lst_copy = lst1
    return lst_copy

lst1 = [34, 9, 45, 2, 67, 99, 12]
lst2 = cloning(lst1)
print("Original list:", lst1)
print("After cloning:", lst2)

Original list: [34, 9, 45, 2, 67, 99, 12]
After cloning: [34, 9, 45, 2, 67, 99, 12]

In [ ]:
# Count occurrences of an element in a list

def count(lst, x):
    return lst.count(x)

lst = [6, 7, 52, 4, 8, 4, 6, 4]
x = 4
print("{} has occurred {} times".format(x, count(lst, x)))

4 has occurred 3 times